@use "../../SassStyles/variables" as *;
@use "../../SassStyles/mixins" as *;

.gpt3__possibility {
    display: flex;
    flex-direction: column;

    @include lgMinBreakPoint {
        flex-direction: row;
    }

    .gpt3__possibility-image {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin: 1rem 0;

        @include lgMinBreakPoint {
            margin-right: 2rem;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .gpt3__possibility-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 2rem;

        @include lgMinBreakPoint {
            margin-top: 0;
        }

        h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            color: #71e5ff;
        }

        h4:last-child {
            color: $color-subtext;
        }

        h1 {
            font-weight: 800;
            font-size: 34px;
            line-height: 45px;

            margin-top: 0.65rem;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: $color-text;

            margin-block: 1.5rem 2rem;
        }
    }
}
