@use "./SassStyles/variables" as *;
@use "./SassStyles/mixins" as *;
@use "./SassStyles/animations" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: $color-bg;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    background: -moz-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, #002853 0%, #040c18 100%);
}
